
    body {
      background-color: darkblue;
    }
    
    h1 {
      color: white;
      text-align: center;
    }
    
    p {
      text-align: center;
      font-family: Impact;
      font-size: 20px;
    }
    
    p2 {
      font-family: Impact;
      font-size: 20px;
    }
    .center {
      text-align: center;
    }
